body{

background:#0b1020;

color:white;

font-family:Arial;

margin:0;

}

header{

display:flex;

justify-content:space-between;

padding:20px 50px;

background:#14092d;

}

.logo{

font-size:32px;

font-weight:bold;

color:#c084fc;

}

nav a{

color:white;

text-decoration:none;

margin-left:25px;

}

.hero{

text-align:center;

padding:120px 20px;

}

.hero h1{

font-size:60px;

color:#d8b4fe;

}

.btn{

display:inline-block;

margin-top:30px;

padding:15px 35px;

background:#7e22ce;

border-radius:30px;

}

.products{

padding:60px;

}

footer{

text-align:center;

padding:40px;

}
